{% extends 'layouts/base.twig' %}

{% block content %}

<center>
<div class="form">
    <h1>Реєстраєція</h1>
    <br>
    <hr width='auto'x>
    <br>
    <form method="post" action="signup">
    {% if error %}
        <div><font size='5px' color='red'>{{ error }}</font></div>
        <br>
    {% endif %}
        <table cellspacing="5">
            <tr><td><label for="user_name">Ім'я користувача: </label></td><td><input type="text" id="user_name" name="user_name"></td></tr>
            <tr><td><label for="email">Email: </label></td><td><input type="text" id="email" name="email"></td></tr>
            <tr><td><label for="password">Пароль: </label></td><td><input type="password" id="password" name="password"></td></tr>
            <tr><td><label for="confirm_password">Повторіть пароль: </label></td><td><input type="password" id="confirm_password" name="confirm_password"></td></tr>
        </table>
        <button type="submit" id="button_form">Зареєструватися</button>
    </form>
</div>
</center>

{% endblock %}