{% extends 'layouts/base.twig' %}

{% block content %}

<div class="form">
    <form action="{{ route({'name':'signup'}) }}" method="post">
            <h1>Sign Up</h1>

            <div class="container">
                <label for="user_name"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="user_name" required>

                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>

                <label for="uname"><b>Confirm Password</b></label>
                <input type="password" placeholder="Enter Confirm Password" name="confirm_password" required>

                <button type="submit" style="font-size: 17px; font-family: 'trebuchet ms';font-weight: bold;">Sign Up</button>
                        <!-- <p>Successful! Check your email and confirm it</p> -->
                </div>
                {% if form_messages %}
                    {% for message in form_messages %}
                        <p style="color: red">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="form new_acc">
            <a class="color_form" href="{{ route({'name':'login'}) }}">Do you have an account? Sign in</a>
        </div>

{% endblock %}