<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="public/css/style.css">
	<title>{{ title }}</title>
</head>
<body>

    <div class="wrapper">
        <div class='page'>
            <div class="header">
                <div class="header_top"></div>
                <div class='header_inner'>
                    <a href="/"><img src="public/img/home.png" width="60" height="60" class="image_home"></a>
                    {# <div>
                        <form action="{% url 'search' %}" method="get">
                            <table>
                                <tr>
                                    <td><input type="text" name="q" class="text_search" value="{{ search_value }}"></td>
                                    <td><input type="submit" value="Пошук" class="button_search"></td>
                                </tr>
                            </table>
                        </form>
                    </div> #}
					<nav class="head_nav">
                      
                            <a href="#" class="nav_link">Головна</a>
                            <a href="#" class="nav_link">Всі зображення</a>
                      
                            <p class='auth'>
                                <a href="#" id='login_link'>Вхід</a> |
                                <a href="#" id='register_link'>Реєстрація</a>
                            </p>
                
                    </nav>
                </div>
            </div>
            <div class="content">
                <div class="menu_bar">
                    <div class="menu_bar_inner">
                    <ul>
                      <li class="menu_cat"><img src="public/img/exapmle.jpg"></li>
                      <li class="menu_cat"><img src="public/img/exapmle.jpg"></li>
                      <li class="menu_cat"><img src="public/img/exapmle.jpg"></li>
                      <li class="menu_cat"><img src="public/img/exapmle.jpg"></li>
                    </ul>
                    </div>
                </div>
                <div class="content_inner">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>