/* header background color - #3485ae */
/* header button background color - #225f7f */
/* page background color - #ebfbff */




html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.page {
    min-height: 100vh;
    background-color: #F5FFFF;
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    background-color: #3485ae;
    color: #E6FFFE;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {
    font-weight: bold;
}

#logo_icon {
    width:  50px;
    vertical-align: -30%;
}

.header__item {
    padding: 17px 25px;
    font-size: 21px;
}

.menu__item:last-child {
    margin-right: 20px;
}

.headerButton:hover {
    background-color: #225f7f;
    border-radius: 4px;
}

.footer {
    width: 100%;
    background-color: #3485ae;
    margin-top: auto;
    text-align: center;
    padding: 15px;
    color: #E6FFFE;
    font-size: 20px;
}

.page {
    display: flex;
    flex-direction: column;
}


.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
    margin-left: 25px;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #E6FFFE;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span {
    background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.logo {
    display: block;
}

.logo__img {
    width: 200px;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}


@media (max-width: 992px) {
    .header__burger-btn {
        display: block;
    }

    .menu {
        position: absolute;
        left: -350px;
        top: 0;
        width: 350px;
        background-color: #3485ae;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
        border-radius: 0 0 15px 0;
        opacity: 95%;
    }
    .menu__list {
        display: block;
    }
    .menu__link {
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }
    .header.open .menu {
        transform: translateX(100%);
    }

    .headerButton:hover {
        background-color: #225f7f;
        border-radius: 4px;
    }
    .content__inner {
        flex-direction: column;
    }
    .galery__item:nth-child(1) a{
        position: static;
    }

    .galery__item:nth-child(1) .galery__item__hover {
        display: none;
    }
}

.content {
    padding: 25px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-height: 85vh;
}

.content__inner {
    display:flex;
    justify-content: center;
}

.form {
    width: 40%;
    min-width: 400px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #3485ae;
    padding: 15px;
    text-align: center;
}

.new_acc {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.color_form {
    color: #146862;
}


/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #3485ae;
  box-sizing: border-box;
  background-color: #ebfbff;
  border-radius: 5px;
}

/* Set a style for all buttons */
button {
  background-color: #3485ae;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 20px 15px;
  text-align: left;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/* ================ GALERY ================  */

.gallery__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 80vh;
}

.galery__list {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.galery__item {
    flex: 25%;
    overflow: hidden;
    min-width: 300px;
    max-width: 363px;
    margin: 10px;
    background-color: #8cbbd3;
    border-radius: 5px;
}

.galery__item a {
    display: block;
    position: relative;
    font-size: 0;
}

.galery__item__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    opacity: 0;
    transition: opacity .5s ease;
} 

.galery__item a:hover .galery__item__hover {
    opacity: 1;
}

.galery__item img {
    max-width: 100%;
    height: auto;
}

.galery__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.galery__item__header img {
    width: 20px;
    height: auto;
}

.gallery_buttons {
    display: flex;
    flex-direction: row;
}

.gallery_buttons a, .gallery_buttons p  {
    width: 50%;
    margin: 10px;
}

.delete_edited_image_btn_demo, .delete_comment_btn {
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0;
    background: none;
}

.galery__item__footer {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
}

.galery__item__footer div {
    font-size: 20px;
    display: inline;
    color: black;
}

.galery__item__footer div button {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: auto;
}

.galery__item__footer div form {
    display: inline-block;
}



/* ================ PAGINATION ================  */

.pgn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.pgn__cell {
    background-color: #3485ae;
    margin: 0 10px;
    padding: 7px 15px;
    border-radius: 3px;
    color: #ebfbff;
    transition: .3s;
}

.pgn__cell_press {
    opacity: 0.7;
}

.pgn a:hover .pgn__cell{
    opacity: 0.7;
}

/* ============== COMMENTS ============== */

@keyframes select{
    0%{
      background:#2cd384;
    }
  }
  @-webkit-keyframes select{
    0%{
      background: #2cd384;
    }
  }
  .comment_item:target{
    animation:select 1.5s linear;
    -webkit-animation:select 1.5s linear;
  }

.comment_list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment_item {
    /*padding: 10px;*/
    margin: 10px 0;
    border: 1px solid #3485ae;
    border-radius: 5px;
    background-color: white;
}

.comment_header {
    background-color: #8cbbd3;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_header p {
    margin: 0;
}

.comment_context {
    padding: 10px;
}

.reply_comment  {
    padding: 10px;
}


.comment_form {
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

.comment_form textarea {
    background: transparent;
    resize: none;
    overflow: auto;
}

.comment_form * {
    margin-top: 15px;
}


.reply_comment button {
    width: 100px;
    padding: 5px 5px;
}

.open_comment_form {
    display: flex;
}
